*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.line{
  width: 90%;
}

.punchline{
  color: palevioletred;
}

.fonttt {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#jokes{
    width: 450px;
}