*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* #hedd{
    position: absolute;
    margin-top: 175px;
    margin-left: 400px;
} */

.fonttt {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.fonttt2{
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.fonttt3{
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* #papa{
    height: 100vh;
} */

#jokes{
    width: 450px;
}