* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line {
  width: 75%;
}

.punchline {
  color: palevioletred;
}

.fonttt {
  font-family: "Playwrite DE SAS", cursive;
  font-weight: 400;
}

.setting {
  cursor: pointer;
}

#jokes {
  transition: all 0.3s ease;
}

#headinggg {
  transition: all 0.3s ease;
}
